<div class="container">
    <div class="content">
        <app-title title="Forget Password Page" margin="1.5rem 5rem 2rem 2.5rem"></app-title>
        <form [formGroup]="forgetPasswordForm" (ngSubmit)="verify()" *ngIf="!otpSent">

            <input-container label="Email">
                <input type="text" id="email" label="email" #inputFieldEmail (blur)="onEnterEmail(inputFieldEmail.value)" placeholder="Email"/>
            </input-container>

            <default-button text="Verify"></default-button>

        </form>

        <form  *ngIf="otpSent && !otpverify" (ngSubmit)="verifyOtp()">

            <input-container label="Enter the OTP">
                <input type="text" id="otp" label="OTP" #inputFieldotp (blur)="onEnterOtp(inputFieldotp.value)" placeholder="OTP"/>
            </input-container>

            <default-button text="Check OTP"></default-button>

        </form>

        <form  *ngIf="otpverify" (ngSubmit)="forgetChangePassword()">

            <input-container label="New Password">
                <input type="password" id="newPassword" label="New Password" #inputFieldNewPassword (blur)="onEnterNewPassword(inputFieldNewPassword.value)" placeholder="New Password"/>
            </input-container>

            <input-container label="Confirm Password">
                <input type="password" id="confirmPassword" label="Confirm Password" #inputFieldConfirmPassword (blur)="onEnterConfirmPassword(inputFieldConfirmPassword.value)" placeholder="Confirm Password"/>
            </input-container>

            <default-button text="Change Password"></default-button>

        </form>

    </div>
</div>
  
